{% extends "layouts_sub.html" %}
{% block body %}
        <main>
            <!-- 이벤트 -->
             <table>
                 <caption class="event_caption"><span>이벤트 당첨자</span></caption>
                 <tr class="ev">
                     <th><span>번호</span></th>
                     <th><span>이벤트명</span></th>
                     <th><span>이벤트기간</span></th>
                     <th><span>당첨자 발표일</span></th>
                     <th><span class="ev-view">당첨자보기</span></th>
                 </tr>
                 <tr>
                     <td>1</td>
                     <td>맨유 경기 티켓</td>
                     <td>2020/08/20~2020/12/31</td>
                     <td>2021/01/01</td>
                     <td><input type="button" value="확인"></td>
                 </tr>
                 <tr>
                     <td>2</td>
                     <td>맨유 경기 티켓</td>
                     <td>2020/08/20~2020/12/31</td>
                     <td>2021/01/01</td>
                     <td><input type="button" value="확인"></td>
                 </tr>
                 <tr>
                     <td>3</td>
                     <td>맨유 경기 티켓</td>
                     <td>2020/08/20~2020/12/31</td>
                     <td>2021/01/01</td>
                     <td><input type="button" value="확인"></td>
                 </tr>
                 <tr>
                     <td>4</td>
                     <td>맨유 경기 티켓</td>
                     <td>2020/08/20~2020/12/31</td>
                     <td>2021/01/01</td>
                     <td><input type="button" value="확인"></td>
                 </tr>
                 <tr>
                     <td>5</td>
                     <td>맨유 경기 티켓</td>
                     <td>2020/08/20~2020/12/31</td>
                     <td>2021/01/01</td>
                     <td><input type="button" value="확인"></td>
                 </tr>
                 <tr>
                     <td>6</td>
                     <td>맨유 경기 티켓</td>
                     <td>2020/08/20~2020/12/31</td>
                     <td>2021/01/01</td>
                     <td><input type="button" value="확인"></td>
                 </tr>
                 <tr>
                     <td>7</td>
                     <td>맨유 경기 티켓</td>
                     <td>2020/08/20~2020/12/31</td>
                     <td>2021/01/01</td>
                     <td><input type="button" value="확인"></td>
                 </tr>
                 <tr>
                     <td>8</td>
                     <td>맨유 경기 티켓</td>
                     <td>2020/08/20~2020/12/31</td>
                     <td>2021/01/01</td>
                     <td><input type="button" value="확인"></td>
                 </tr>
                 <tr>
                     <td>9</td>
                     <td>맨유 경기 티켓</td>
                     <td>2020/08/20~2020/12/31</td>
                     <td>2021/01/01</td>
                     <td><input type="button" value="확인"></td>
                 </tr>
                 <tr>
                     <td>10</td>
                     <td>맨유 경기 티켓</td>
                     <td>2020/08/20~2020/12/31</td>
                     <td>2021/01/01</td>
                     <td><input type="button" value="확인"></td>
                 </tr>
             </table>
             <div class="paging">
                 <span class="prev">
                     <a href="#"><&nbsp;이전</a>
                 </span>
                 <span class="num">
                     <a href="#" class="on">1</a>
                     <a href="#">2</a>
                     <a href="#">3</a>
                     <a href="#">4</a>
                     <a href="#">5</a>
                 </span>
                 <span class="next">
                     <a href="#">다음&nbsp;></a>
                 </span>
             </div>
         </main>
{% endblock %}