<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>findPass</title>
</head>
<body bgcolor="#f6f6f6" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="background: #f2f2f2; margin: 0; font: normal 14px/1.5 돋움; font-family: 돋움, Dotum;">
    <div style="background: #f2f2f2; width: 100%; margin: 0; padding: 77px 0;">
        <div style="margin: 0 auto; padding: 0; width: 748px; background: #fff; text-align: center; border: 1px solid #d9d9d9;">
            <table width="748px" cellpadding="0" cellspacing="0" style="padding: 0;">
                <tbody>
                    <tr>
                        <td style="height: 72px; text-align: left;">
                            <img src="../static/img/mu_header_logo.png" style="border: 0;" alt>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="background: #fff; width: 748px; margin: 0 auto; padding: 0;">
                <table width="650px" cellpadding="0" cellspacing="0" style="margin: 0 auto; text-align: center; padding: 0;">
                    <tbody>
                        <tr>
                            <td style="vertical-align: top;">
                                <p style="font: bold 16px/1.5 돋움; color: #333; margin: 0; padding: 35px 0;">
                                    안녕하세요! ‘
                                    <strong style="color: #536782;">홍길동</strong>
                                    ’님
                                    <br>
                                    맨유마켓에서 아래와 같이
                                    <strong style="color: #536782;">임시비밀번호</strong>
                                    를 발급해드립니다.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="background: #f8f8f8; margin-top: 35px; height: 100px; font: bold 18px/1.5 돋움; color: #333;">
                                임시 비밀번호 : eobh5314
                            </td>
                        </tr>
                        <tr>
                            <td style="font: normal 12px/1.5 돋움; color: #777; padding-top: 27px;">
                                해당 비밀번호는
                                <strong>임시 비밀번호</strong>이기 때문에, 로그인 후
                                <strong>마이페이지</strong>에서
                                <strong>비밀번호 변경</strong>을 해주시길 바랍니다.
                                <br>
                                앞으로 고객님의 편안한 쇼핑을 위해 노력하는 맨유마켓이 되겠습니다.
                                <br>
                                꾸준한 관심과 사랑 부탁드립니다.
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 40px 0 50px;">
                                <a href="#" style="text-decoration: none;">
                                    <img src="#" style="border: 0;" alt>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="650px" cellpadding="0" cellspacing="0" style="padding: 35px 0; text-align: left; border-top: 1px solid #d9d9d9; margin: 0 auto;">
                    <tbody>
                        <tr>
                            <td style="padding: 0 0 20px 0; font: normal 11px/1.5 돋움; color: #777;">
                                <ul style="margin: 0; padding: 0; list-style-position: inside;">
                                    <li style="padding: 0; margin: 0;">
                                        본 메일은 e-mail수신 동의 여부와 상관 없이 발송되는 안내 메일입니다.
                                    </li>
                                    <li>
                                        본 메일에 관한 문의사항은 사이트 내 고객센터를 이용해주시기 바랍니다.
                                    </li>
                                    <li>
                                        메일수신을 원하지 않을 경우, 홈페이지 로그인 후 "마이페이지"에서
                                        <strong>“E-mail 수신여부”</strong>
                                        를 변경해주시길 바랍니다.
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td style="font: normal 11px/1 돋움; color: #777;">
						        COPYRIGHT © MUMARKET. All rights reserved.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>