{% extends "layouts.html" %}
{% block body %}    
<div id="member-wrapper">
      <main>
        <div id="member-join">
          <section class="join">
            <img src="../static/img/mu_join1.png" class="welcome" alt="welcome to manutd store">
            <div class="type">
              <div class="event">
                <img src="../static/img/mu_join2.png" alt="이벤트">
              </div>
            </div>
            <img src="../static/img/mu_join3.png" class="banner" alt="신규가입 혜택">
            <img src="../static/img/mu_join4.png" class="banner" alt="카카오페이 결제 혜택">
          </section>
        </div>
      </main>
</div>
{% endblock %}