{% extends "layouts.html" %}
<style>

</style>
{% block body %}
<h1 class="display-4">LEARNMORE PAGE</h1>
<div>
    <p style="font-size: 100px; font-weight: bold;">FLASK</p>
    <span>
        플라스크(Flask)는 파이썬으로 작성된 마이크로 웹 프레임워크의 하나로, Werkzeug 툴킷과 Jinja2 템플릿 엔진에 기반을 둔다. BSD 라이선스이다.<br>
        </br>
        플라스크의 최신 안정판은 2017년 5월 기준으로 1.1.1이다. 플라스크 프레임워크를 사용하는 애플리케이션에는 핀터레스트, 링크드인, 플라스크 자체를 위한 공동체 웹 페이지를 포함한다.<br>
        </br>
        플라스크는 특별한 도구나 라이브러리가 필요 없기 때문에 마이크로 프레임워크라 부른다.<br>
        </br>
        데이터베이스 추상화 계층, 양식 유효성 확인, 기타 기존의 서드파티 라이브러리가 공통 기능을 제공하는 구성 요소가 없다.<br>
        </br>
        그러나 플라스크는 플라스 자체에서 구현된 것처럼 애플리케이션 기능을 추가할 수 있는 확장 기능을 지원한다.<br>
        </br>
        확장 기능은 객체 관계 매퍼, 양식 유효성 확인, 업로드 관리, 다양한 개방형 인증 기술, 여러 공통 프레임워크 관련 도구들을 위해 존재한다.<br>
        </br>
        확장 기능들은 코어 플라스크 프로그램에 비해 훨씬 더 정기적으로 업데이트된다.<br>
        </br>
        풀 스택 웹 프레임워크인 Django와는 달리 마이크로 프레임워크라고 해서 보다 기능성이 떨어지는건 결코 아니다.<br>
        </br>
        단지 Django에서는 단순히 임포트해서 편리하게 사용할 수 있는 일부 부가적인 기능들을 Flask에서는 직접 손을 써야 할 뿐이다.<br>
        </br>
        이 말인 즉슨, 오히려 Django에 비해서 Flask가 개발자의 능력과 목적에 맞게 커스텀이 가능하다는 얘기.<br>
        </br>
        사실, 아예 웹 프레임워크가 없이 파이썬(심지어는 C로도) 자체로도 웹 서버는 충분히 구현이 가능하다.<br>
    </span>
</div>
{% endblock %}