{% extends "layouts.html" %} 
{% block body %}
<div class = "container">
    <div class="row mt-5">
        <h1>REGISTER PAGE</h1>
    </div>
    <div class="col-12">
        <br><br>
        <form  action="/register" method="POST">
            <div class="form-group">
                <label for="userid">이름</label>
                <input type="text" class="form-control" placeholder="이름" name="name"/>
            </div>
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" class="form-control" placeholder="이메일" name="email"/>
            </div>
            <div class="form-group">
                <label for="password">별명</label>
                <input type="text" class="form-control" placeholder="별명" name="username"/>
            </div>
            <div class="form-group">
                <label for="re_password">비밀번호</label>
                <input type="password" class="form-control" placeholder="비밀번호" name="password"/>
            </div>
            <a href="/register"><button type="submit" class="btn btn-warning btn-lg btn-block">제출</button></a>
            <a class="btn btn-primary btn-lg btn-block" href="/" style="margin-top: 10px;"> 돌아가기</a>
        </form>
    </div>
</div>
{% endblock %}