{% extends "layouts.html" %}
{% block body %}
        <main style="width: 1200px; min-height: 400px; margin: 0 auto; padding-left: 297px;">
            <!-- 카테고리/베스트 상품 영역-->
            <aside>
                <ul class="category">
                    <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
                    <li>
                        <a href="#"><i class="fas fa-futbol"></i>KITS</a>
                        <ol>
                            <li><a href="">Home</a></li>
                            <li><a href="">Away</a></li>
                            <li><a href="">Third</a></li>
                            <li><a href="">GoalKeeper</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-running"></i>TRAINING</a>
                        <ol>
                            <li><a href="">MAN</a></li>
                            <li><a href="">WOMAN</a></li>
                            <li><a href="">KID</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-tshirt"></i>RETRO</a>
                        <ol>
                            <li><a href="">Shirt</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-gift"></i>GIFT</a>
                        <ol>
                            <li><a href="">Accessort</a></li>
                            <li><a href="">Bag</a></li>
                            <li><a href="">Cap</a></li>
                            <li><a href="">Flag</a></li>
                        </ol>
                    </li>
                </ul>

                <!-- 베스트상품 배너 -->
                <article class="best">
                    <h1><i class="fas fa-crown"></i>베스트상품</h1>
                    <ol>
                        <li>
                            <a href="#">
                                <div class="best-item">
                                    <i>1</i>
                                    <img src="../static/img/mu_item1.png" alt="item1">
                                </div>
                                <h2>맨유 홈저지 2020-21</h2>
                                <div class="org_price">
                                    <del>106,900</del>
                                    <span>10%</span>
                                </div>
                                <div class="dis_price">
                                    <ins>96,210</ins>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="best-item">
                                    <i>2</i>
                                    <img src="../static/img/mu_item2.png" alt="item2">
                                </div>
                                <h2>맨유 트래블 재킷 - 적갈색</h2>
                                <div class="org_price">
                                    <del>154,400</del>
                                    <span>10%</span>
                                </div>
                                <div class="dis_price">
                                    <ins>138,960</ins>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="best-item">
                                    <i>3</i>
                                    <img src="../static/img/mu_item3.png" alt="item2">
                                </div>
                                <h2>맨유 트레이닝 탑 - 화이트</h2>
                                <div class="org_price">
                                    <del>106,900</del>
                                    <span>10%</span>
                                </div>
                                <div class="dis_price">
                                    <ins>96,210</ins>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="best-item">
                                    <i>4</i>
                                    <img src="../static/img/mu_item4.png" alt="item2">
                                </div>
                                <h2>맨유 트레이닝 탑 - 그린</h2>
                                <div class="org_price">
                                    <del>130,600</del>
                                    <span>10%</span>
                                </div>
                                <div class="dis_price">
                                    <ins>117,540</ins>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="best-item">
                                    <i>5</i>
                                    <img src="../static/img/mu_item5.png" alt="item2">
                                </div>
                                <h2>맨유 골키퍼 홈 저지</h2>
                                <div class="org_price">
                                    <del>116,400</del>
                                    <span>10%</span>
                                </div>
                                <div class="dis_price">
                                    <ins>104,760</ins>
                                </div>
                            </a>
                        </li>
                    </ol>
                </article>
            </aside>
            
            <!-- 상품 상세페이지-->
            <section id="view">
                <nav>
                    <h1>맨체스터 유나이티드 홈 저지 2020-21</h1>
                    <p>
                        HOME > <span>KITS</span> > <strong>Home</strong>
                    </p>
                </nav>
                <section>
                    <article class="info">
                        <div class="image">
                            <img src="../static/img/mu_itemview.jpg" alt="상품이미지">
                        </div>
                        <div class="summary">
                            <nav>
                                <h1>맨체스터 유나이티드</h1>
                                <h2>상품번호&nbsp;:&nbsp;<span>10234156987</span></h2>
                            </nav>
                            <p>맨체스터 유나이티드 홈 저지 2020-21</p>
                            <nav>
                                <h5 class="rating star5"><a href="#">상품평보기</a></h5>
                            </nav>
                            <nav>
                                <div class="org_price">
                                    <del>106,900</del>
                                    <span>10%</span>
                                </div>
                                <div class="dis_price">
                                    <ins>96,210</ins>
                                </div>
                            </nav>
                            <nav>
                                <span class="delivery">무료배송</span>
                                <span class="arrival">2주 뒤 도착예정</span>
                                <span class="desc">본 상품은 해외배송 가능합니다.</span>
                            </nav>
                            <nav>
                                <span class="card cardfree"><i>아이콘</i>무이자할부</span>&nbsp;&nbsp;
                                <span class="card cardadd"><i>아이콘</i>카드추가혜택</span>
                            </nav>
                            <nav>
                                <span class="origin">원산지-상세설명 참조</span>
                            </nav>
                            <img src="../static/img/paybanner.png" alt="카드결제" class="banner" />
                            <div class="total">
                                <span>96,210</span>
                                <em>총 상품금액</em>
                            </div>
                        </div>
                    </article>
                    <article class="detail">
                        <nav>상품정보</nav>
                        <!-- 상품상세페이지 이미지-->
                        <img src="../static/img/mu_view1.png" alt="상품이미지">
                        <img src="../static/img/mu_view2.png" alt="상품이미지">
                    </article>

                    <article class="notice">
                        <nav>
                            <h1>상품 정보 제공</h1>
                            <p>[전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거 등록된 정보입니다.</p>
                        </nav>
                        <table border="0">
                            <tr>
                                <td>상품번호</td>
                                <td>10234156987</td>
                            </tr>
                            <tr>
                                <td>상품상태</td>
                                <td>새상품</td>
                            </tr>
                            <tr>
                                <td>부가세 면세여부</td>
                                <td>과세상품</td>
                            </tr>
                            <tr>
                                <td>영수증발행</td>
                                <td>발행가능 - 신용카드 전표, 온라인 현금영수증</td>
                            </tr>
                            <tr>
                                <td>사업자구분</td>
                                <td>사업자 판매자</td>
                            </tr>
                            <tr>
                                <td>브랜드</td>
                                <td>맨체스터 유나이티드</td>
                            </tr>
                            <tr>
                                <td>원산지</td>
                                <td>해외생산</td>
                            </tr>
                        </table>
                        <table border="0">
                            <tr>
                                <td>제품소재</td>
                                <td>100% 재활용 폴리</td>
                            </tr>
                            <tr>
                                <td>색상</td>
                                <td>빨강</td>
                            </tr>
                            <tr>
                                <td>사이즈</td>
                                <td>S~4XL</td>
                            </tr>
                            <tr>
                                <td>제조자/수입국</td>
                                <td>영국</td>
                            </tr>
                            <tr>
                                <td>제조국</td>
                                <td>영국</td>
                            </tr>
                            <tr>
                                <td>취급시 주의사항</td>
                                <td>상품정보참고</td>
                            </tr>
                            <tr>
                                <td>제조연월</td>
                                <td>상품태그참고</td>
                            </tr>
                            <tr>
                                <td>품질보증기준</td>
                                <td>소비자홈페이지 참고</td>
                            </tr>
                            <tr>
                                <td>A/S 책임자와 전화번호</td>
                                <td>맨유 +44-1111-1234</td>
                            </tr>
                            <tr>
                                <td>주문후 예상 배송기간</td>
                                <td>2주 뒤 도착예정</td>
                            </tr>
                            <tr>
                                <td colspan="2">구매, 교환, 반품, 배송, 설치 등과 관련하여 추가비용, 제한조건 등의 특이사항이 있는 경우</td>
                            </tr>
                        </table>
                        <p class="notice">
                            소비자가 전자상거래등에서 소비자 보호에 관한 법률 제 17조 제1항 또는 제3항에 따라 청약철회를 하고
                            동법 제 18조 제1항 에 따라 청약철회한 물품을 판매자에게 반환하였음에도 불구 하고 결제 대금의
                            환급이 3영업일을 넘게 지연된 경우, 소비자 는 전자상거래등에서 소비자보호에 관한 법률 제18조
                            제2항 및 동법 시행령 제21조 2에 따라 지연일수에 대하여 전상법 시행령으로 정하는 이율을 곱하여
                            산정한 지연이자(“지연배상금”)를 신청할 수 있습니다. 아울러, 교환∙반품∙보증 및 결제대금의
                            환급신청은 [나의쇼핑정보]에서 하실 수 있으며, 자세한 문의는 개별 판매자에게 연락하여 주시기 바랍니다.
                        </p>
                    </article>
                </section>
            </section>
        </main>
{% endblock %}