<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="POST" id="authForm" style="margin-left: 800px; margin-top: 200px">
        <div>
            <p>
                <label for="id" style="background-color: #6cc091; height:30px;">아이디&nbsp&nbsp&nbsp</label>
                <input type="text" id="id" name="userid" style="font-weight: bold; height:20px;">
            </p>

            <p>
                <label for="pw" style="background-color: #6cc091; height:30px;">비밀번호</label>
                <input type="password" id="pw" name="password" style="font-weight: bold; height:20px;">
            </p>
        </div>
        
        <a href="/register"><input type="submit" name="submit" value="submit" style="width: 240px; height:30px; background-color: #6cc091; cursor:pointer;"></a>
    </form>
</body>
</html>